@use './colors.scss';

html {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}

body {
  background-color: colors.$backgroundColor;
  display: flex;
  justify-content: center;
  width: 100%;

  ul {
    display: flex;
    list-style: none;
  }
}
