@use './colors.scss';

.header {
  padding-top: 53px;
  width: 100%;
  background-color: colors.$boxColor;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  .header__wrapper {
    display: grid;
    width: 90vw;
    max-width: 1200px;
    grid-template-columns: 75% 25%;
    grid-template-areas:
      'logo logIn'
      'searchbar searchbar'
      'filters .';

    .header__container {
      grid-area: logo;
    }

    .login__button {
      grid-area: logIn;
    }

    .header__form {
      grid-area: searchbar;
    }
    .header__filters {
      grid-area: filters;
    }
  }
}
