@use '../helpers/colors.scss';
@use '../helpers/mixins.scss';

.login__wrapper {
  display: flex;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;

  .login__photo {
    display: none;

    @include mixins.xxl {
      background-image: url('../../components/Login/login-photo.png');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 100%;
      width: 1200px;
    }
  }

  .login__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    width: 90vw;

    .login__logo {
      font-size: 2.4rem;
      line-height: 4rem;
      margin-top: 5rem;
      max-width: 500px;
      max-width: 600px;
      text-align: left;
      width: 100%;

      @include mixins.xxl {
        margin-bottom: 16rem;
      }
    }

    .login__title {
      font-size: 3rem;
      margin: 10rem 0 3rem 0;
      max-width: 500px;
      max-width: 600px;
      text-align: left;
      width: 100%;
    }
    .login__login-form {
      max-width: 600px;
      width: 90vw;

      .login-form__input-wrapper {
        .login-form__label {
          display: flex;
          flex-direction: column;
          font-size: 1.4rem;
          line-height: 1.6rem;
          margin-top: 2.2rem;
          .login-form__input {
            border-radius: 8px;
            border: none;
            border: 1px solid colors.$inputBorderColor;
            font-family: 'Nunito', sans-serif;
            margin-top: 0.8rem;
            outline: none;
            padding: 1.6rem;
          }
        }
      }

      .login-form__forgot-pass {
        color: colors.$secondaryFontColor;
        display: block;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }

      .login-form__submit {
        background-color: colors.$normalButtonColor;
        border-radius: 4px;
        border: none;
        color: colors.$buttonFontColor;
        font-family: 'Nunito', sans-serif;
        font-size: 1.6rem;
        height: 100%;
        line-height: 2.4rem;
        margin: 5.6rem 0 1.6rem 0;
        max-height: 50px;
        transition: 0.2s linear;
        width: 100%;

        &:hover {
          background-color: colors.$hoverButtonColor;
          cursor: pointer;
        }
      }
    }
  }
}
