@use '../helpers/colors.scss';
@use '../helpers/mixins.scss';

.wrapper {
  position: relative;
  .modal__wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    left: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    .modal {
      background-color: colors.$boxColor;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      height: 100%;
      left: 50%;
      max-height: 550px;
      opacity: 1;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90vw;

      @include mixins.md {
        left: 50%;
        max-width: 600px;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .modal__close-button {
        background-color: transparent;
        border: none;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        z-index: 1;

        &:hover {
          cursor: pointer;
        }
      }
      .modal__product-image {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px 8px 0 0;
        height: 60%;
        position: relative;
        width: 100%;
      }

      .modal__product-name {
        font-size: 2.4rem;
        line-height: 4rem;
        margin-bottom: 0.8rem;
        margin: 2.4rem 2.4rem 0 2.4rem;
      }
      .modal__product-description {
        color: colors.$secondaryFontColor;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 0 2.4rem 2.4rem 2.4rem;
      }
    }
  }
}
