@use '../helpers/colors.scss';
@use '../helpers/mixins.scss';

.pagination {
  width: 90vw;
  max-width: 300px;
  height: 100%;

  .pagination__list-pagination {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 9rem;

    .list-pagination__pagination-item {
      font-size: 1.4rem;
      display: block;
      cursor: default;

      .pagination-item__link {
        text-decoration: none;
        color: colors.$mainFontColor;

        &:hover {
          color: colors.$hoverButtonColor;
        }
      }

      .pagination-item__link--disable {
        color: colors.$secondaryFontColor;
      }

      .pagination-item__link--current {
        color: colors.$normalButtonColor;
      }

      .pagination-item__link--first {
        margin-right: 1.5rem;
      }
      .pagination-item__link--last {
        margin-left: 1.5rem;
      }
    }
    .list-pagination__pagination-item--hide {
      display: none;
    }
  }
  .pagination__list-pagination--hide {
    display: none;
  }
}
