@use '../helpers/colors.scss';
@use '../helpers/mixins.scss';

.pagination {
  height: 100%;
  max-width: 300px;
  width: 90vw;

  .pagination__list-pagination {
    display: flex;
    height: 100%;
    justify-content: space-between;
    line-height: 9rem;
    width: 100%;

    .list-pagination__pagination-item {
      cursor: default;
      display: block;
      font-size: 1.4rem;

      .pagination-item__link {
        color: colors.$mainFontColor;
        text-decoration: none;

        &:hover {
          color: colors.$hoverButtonColor;
        }
      }

      .pagination-item__link--disable {
        color: colors.$secondaryFontColor;
      }

      .pagination-item__link--current {
        color: colors.$normalButtonColor;
      }

      .pagination-item__link--first {
        margin-right: 1.5rem;
      }
      .pagination-item__link--last {
        margin-left: 1.5rem;
      }
    }
    .list-pagination__pagination-item--hide {
      display: none;
    }
  }
  .pagination__list-pagination--hide {
    display: none;
  }
}
