@use '../helpers/colors.scss';
@use '../helpers/mixins.scss';

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  height: 100%;
  justify-content: center;
  margin-top: 3rem;
  max-width: 1200px;
  width: 90vw;

  .product-list__list-item {
    background-color: colors.$boxColor;
    border-radius: 8px;
    height: 100%;
    max-width: 340px;
    min-height: 400px;
    position: relative;
    width: 100%;

    .list-item__picture-container {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px 8px 0 0;
      height: 200px;
      position: relative;
      width: 100%;
    }

    .list-item__content-container {
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: space-between;
      padding: 1.5rem 1.6rem 2.4rem 1.5rem;
      width: 100%;

      .list-item__product-name {
        font-size: 1.8rem;
        line-height: 1.6rem;
        margin-bottom: 0.8rem;
      }

      .list-item__product-description {
        color: colors.$secondaryFontColor;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }

      .list-item__rating {
        display: flex;
        gap: 1rem;

        .list-item__rating-stars {
          align-self: flex-end;
          margin-bottom: 1rem;
        }
      }

      .product-list__button {
        align-self: flex-end;
        border-radius: 4px;
        color: colors.$buttonFontColor;
        font-family: 'Nunito', sans-serif;
        font-size: 1.4rem;
        height: 100%;
        line-height: 1.6rem;
        max-height: 40px;
        padding: 1.1rem 0;
        transition: 0.2s linear;
        width: 100%;
      }

      .product-list__button--available {
        border: none;
        background-color: colors.$normalButtonColor;
        &:hover {
          background-color: colors.$hoverButtonColor;
          cursor: pointer;
        }
      }
      .product-list__button--unavailable:disabled {
        background-color: colors.$disabledButtonColor;
        cursor: default;
        color: colors.$buttonFontColor;
      }
    }

    @include mixins.md {
      margin-bottom: 2.4rem;
    }
    @include mixins.lg {
      max-width: 280px;
    }
  }

  .product-list__list-item--promo {
    &::after {
      align-items: center;
      background-color: colors.$promoBoxColor;
      color: #ffffff;
      content: 'Promo';
      display: flex;
      font-size: 1.4rem;
      height: 24px;
      justify-content: center;
      left: 0;
      line-height: 1.6rem;
      position: absolute;
      top: 25px;
      width: 75px;
    }
  }

  @include mixins.md {
    gap: 0.5rem;
    justify-content: space-between;
  }
}

.loading-spinner {
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 5rem;
  width: 100px;

  .loading-spinner__item {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading-animation;
  }

  @keyframes loading-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.product-list--empty {
  display: none;
}
