// main
$backgroundColor: #f2f2f2;
$boxColor: #ffffff;
$promoBoxColor: #f9a52b;

// fonts
$mainFontColor: #1a1b1d;
$secondaryFontColor: #9194a5;

// inputs
$checkedInput: #4460f7;
$inputBorderColor: #e0e2ea;

// buttons
$buttonFontColor: #ffffff;
$disabledButtonColor: #9194a5;
$hoverButtonColor: #2140e8;
$normalButtonColor: #4460f7;
$normalButtonColor: #4460f7;
